<form role="form" method="post" action="/orden/crearOrden">
    <%= token_tag nil %>
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Nuevo Producto</h3>
                    <div class="form-group">
                        <label>Cliente</label>
                        <select name="id_cliente" class="form-control"> 
                        <% @todosClientes.each do |cliente| %>
                        <option value="<%=cliente.id%>"><%=cliente.nombre_cliente%></option>
                        <%end%>
                        </select>
                    </div>

                     <div class="form-group">
                        <label>Producto</label>
                        <select name="id_producto" class="form-control"> 
                        <% @todosProductos.each do |producto| %>
                        <option value="<%=producto.id%>"><%=producto.nombre%></option>
                        <%end%>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Cantidad</label>
                        <input type="text" class="form-control"  name="unidad" required>
                    </div>
            
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Guardar</button>
</form>